
# Use opencv-python-headless
# in environments like Docker
#opencv-python
opencv-python-headless

jupyter == 1.00
jupyter-cache == 0.5.0
nbformat == 5.3.0
matplotlib == 3.5.2
scipy == 1.7.3
scikit-image == 0.16.2
